.wrapper {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}
/* header start */
.header {
    width: 100%;
    background-image: url(../img/main_bg_photo_1.png);
    background-repeat: no-repeat;
    min-height: 1024px;
    padding: 40px 150px;
    box-sizing: border-box;
    background-size: cover;
}
.header-head {
    display: flex;
    max-width: 1180px;
    margin: 0 auto 285px;

}
.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 181px;
    text-decoration: none;
    color: #fff;
    margin-right: 219px;
}
.logo-svg {
    fill: currentColor;
}
.logo-txt {
    font-family: Raleway;
    font-size: 34px;
    font-weight: 400;
    text-align: right;
}
.logo:hover{
    color: #c7b299;
}
.header-menu {
    display: flex;
    align-items: center;
}
.header-menu-item {
    list-style-type: none;   
    margin-right: 30px;
}
.header-menu-item:last-child {
    margin-right: 63px;
}
.header-menu-link {
    text-decoration: none;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 300;
    color: #ffffff;
}
.header-menu-link:hover {
    color: #c7b299;
}
.header-menu-link:active {
    color: #fff;
}
.header-button-basket{
    margin-right: 28px;
}
.header-button-basket, .header-button-search{
    border: none;
    background-color: transparent;
    outline: none;
}

.header-button-basket svg, .header-button-search svg {
    fill: #fff;
}

.header-button-basket:hover svg, .header-button-search:hover svg {
    fill: #c7b299;
}

.header-button-basket:active svg, .header-button-search:active svg{
    fill: #fff;
}
.carusel {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}  
.carusel-btn {
    margin: auto 0;
}
.carusel-btn-left {
    width: 40px;
    height: 73px;
    background-image: url(../img/carusel-left.svg);
    background-size: cover;
} 
.carusel-btn-left:hover{
    background-image: url(../img/carusel-left-hover.svg);
    background-size: cover;
}
.carusel-btn-right {
    width: 40px;
    height: 73px;
    background-image: url(../img/carusel-right.svg);
    background-size: cover;
} 
.carusel-btn:hover .carusel-btn-right{
    background-image: url(../img/carusel-right-hover.svg);
    background-size: cover;
}
.carusel-txt {
    max-width: 590px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header-carusel-h2{
    font-family: Raleway;
    font-size: 36px;
    line-height: 1.2;
    font-weight: 500;
    color: #ffffff;
    text-align: center;
}
.header-carusel-h1{
    font-family: Raleway;
    font-size: 52px;
    line-height: 1.2;
    font-weight: 800;
    color: #ffffff;
    text-align: center;
    margin: 14px 0 19px;
}
.header-carusel-txt{
    font-family: Montserrat;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    color: #ffffff;
    text-align: center;
    margin-bottom: 52px;
}
.header-carusel-button{
    width: 170px;
    height: 53px;
    background-color: #998675;
    border-radius: 3px;
    font-family: Raleway;
    font-size: 14px;
    line-height: 23px;
    font-weight: 800;
    text-transform: uppercase;
    color: #ffffff;
}
.header-carusel-button:hover {
    color: #998675;
    background-color: #fff;
    border: 3px solid #998675;
}
.header-carusel-button:active {
    color: #fff;
    background-color: #998675;
}
.carusel-pagination{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 329px;
}
.carusel-pagination-item {
    display: block;
    width: 11px;
    height: 11px;
    background-color: #ffffff;
    border-radius: 50%;
    border: 2px solid transparent;
    margin-right: 9px;
}
.carusel-pagination-item:last-child {
    margin-right: 0;
}
.carusel-pagination-item:hover {
    background-color: transparent;
    border: 2px solid #d3c1ad;
    transform: scale(1.2);
}
/* header end */
/* project-cards section start */
.project-cards {
    display: flex;
    padding: 80px 377px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: flex-end;
}
.project-card {
    max-width: 268px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.project-card-title {
    font-family: Raleway;
    font-size: 22px;
    line-height: 1.2;
    font-weight: 600;
    color: #555555;
    text-align: center;
    margin-top: 30px;
}
.project-card-txt {
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #8c8c8c;
    margin: 19px 0 30px;
}
.project-card-span {
    width: 70px;
    border-bottom: 3px solid #f1eee9;
}
.project-card svg {
    fill: #555555;
}
.project-card:hover .project-card-span {
    border-bottom: 3px solid #c7b299;
}
.project-card:hover svg {
    fill: #c7b299;
}
.project-card:hover .project-card-title {
    color: #c7b299;
}
/* project-cards section end */
/* ideas section start */
.ideas {
    background-color: #fbfaf8;
    min-height: 700px;
    padding: 83px 345px 0;
    box-sizing: border-box;
}
.ideas-title {
    font-family: Raleway;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 600;
    color: #555555;
    text-align: center;
}
.ideas-txt {
    font-family: Montserrat;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: #8c8c8c;
    text-align: center;
    max-width: 770px;
    margin: 24px auto 40px;
}
.ideas-img {
    width: 100%;
    min-height: 482px;
    background-image: url(../img/ideas_center.png),
        url(../img/ideas_left.png),
        url(../img/ideas_right.png);
    background-repeat: no-repeat;
    background-position: bottom center, bottom left, bottom right;
}
/* ideas section end */
/* marketing block start */
.marketing {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 48px 375px;
    min-height: 150px;
    background-color: #f4f5f8;
    background-image: linear-gradient(90.0deg, #211b19 0%, #4e3427 100%);
}
.marketing-title {
    font-family: Raleway;
    font-size: 28px;
    line-height: 1.2;
    font-weight: 400;
    color: #ffffff;
}
.marketing-title span {
    color: #c7b299;
}
.marketing-txt {
    font-family: Montserrat;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 300;
    color: #615855;
}
.marketing-button {
    width: 170px;
    height: 50px;
    background-color: #998675;
    border-radius: 3px;
    font-family: Raleway;
    font-size: 14px;
    line-height: 23px;
    font-weight: 800;
    text-transform: uppercase;
    color: #ffffff;
}
.marketing-button:hover {
    color: #998675;
    background-color: #fff;
    border: 3px solid #998675;
}
.marketing-button:active {
    color: #fff;
    background-color: #998675;
}
/* marketing block end */
/* laters projects section start */
.laters-projects {
    padding: 80px 375px;
}
.laters-projects-title {
    font-family: Raleway;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 600;
    color: #555555;
    text-align: center;
}
.laters-projects-txt {
    font-family: Montserrat;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: #8c8c8c;
    text-align: center;
    max-width: 760px;
    margin: 24px auto 40px;
}
.laters-projects-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;

}
.laters-projects-button {
    width: 120px;
    height: 32px;
    background-color: rgba(17,17,17,0.0);
    border: 1px solid #ebebeb;
    border-radius: 3px;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 21px;
    font-weight: 300;
    color: #8c8c8c;
    margin-right: 10px;
}
.laters-projects-button:first-child {
    width: 70px;
    background-color: #998675;
    color: #ffffff;
    border: none;
}
.laters-projects-button:last-child {
    margin-right: 0;
    width: 135px;
}
.laters-projects-cards-wrp {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.laters-projects-card {
    margin-bottom: 30px;
    position: relative;
}
.laters-projects-card-img {
    width: 370px;
    height: 237px;
    background-color: #8c8c8c;
}
.projects-img-2 {
    background-image: url(../img/projects_2.png);
}
.projects-img-3 {
    background-image: url(../img/projects_3.png);
}
.projects-img-4 {
    background-image: url(../img/projects_4.png);
}
.projects-img-5 {
    background-image: url(../img/projects_5.png);
}
.projects-img-6 {
    background-image: url(../img/projects_6.png);
}
.laters-projects-card-txt {
    padding: 30px;
    background-color: #fbfaf8;
    position: relative;
    box-sizing: border-box;
}
.laters-projects-card-txt:before {
    content: "";
    border: 15px solid transparent; 
    border-bottom: 10px solid #fbfaf8;
    position: absolute;
    top: -25px;
    left: 19px;
  }
.laters-projects-card-h3 {
    font-family: Raleway;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    color: #c7b299;
    margin-bottom: 14px;
}
.laters-projects-card-h4 {
    font-family: Montserrat;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: #d1d1d1;
}
.laters-projects-card-btn-link, .laters-projects-card-btn-search  {
    display: none;
    width: 25px;
    height: 25px;
    background-size: cover;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 106px;
}
.laters-projects-card-btn-link {
    background-image: url(../img/link.svg);
    left: 145px;
}
.laters-projects-card-btn-search {
    background-image: url(../img/seacrh.svg);
    right: 145px;
}
.laters-projects-card:hover .laters-projects-card-img {
    filter: brightness(30%);
}

.laters-projects-card:hover .laters-projects-card-txt {
    background-color: #362f2d;
}
.laters-projects-card:hover .laters-projects-card-h3 {
    color: #ffffff;
}
.laters-projects-card:hover .laters-projects-card-h4 {
    color: #c7b299;
}
.laters-projects-card:hover .laters-projects-card-txt:before {
    border-bottom: 10px solid #362f2d;
}
.laters-projects-card:hover .laters-projects-card-btn-link {
    display: block;
}
.laters-projects-card:hover .laters-projects-card-btn-search {
    display: block;
}
.laters-projects-card-btn-link:hover {
    background-image: url(../img/link-hover.svg);
}
.laters-projects-card-btn-search:hover {
    background-image: url(../img/seacrh-hover.svg);
}
.laters-projects-card-btn-link:active {
    background-image: url(../img/link.svg);
}
.laters-projects-card-btn-search:active {
    background-image: url(../img/seacrh.svg);
}
.laters-projects-button-end {
    border: none;
    display: block;
    width: 170px;
    height: 50px;
    background-color: #998675;
    border-radius: 3px;
    font-family: Raleway;
    font-size: 14px;
    line-height: 23px;
    font-weight: 800;
    text-transform: uppercase;
    color: #ffffff;
    margin: 10px auto 0;
}
.laters-projects-button-end:hover {
    color: #998675;
    background-color: #fff;
    border: 3px solid #998675;
}
.laters-projects-button-end:active {
    color: #fff;
    background-color: #998675;
}
/* laters projects section end */